.Details {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 9%;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
}

.Details > * {
  padding: 0 0 50px 0;
}

/* for ipad and desktop*/
@media (min-width:824px){
  .Details{
    width: 50%;
  }
}

/* for mobile phone*/
@media (max-width:823px){
  .Details{
    width: 100%;
  }
}