.Details {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  padding: 0 9%;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 100vh;
  color: #fff;
}

.Details > * {
  padding: 0 0 50px 0;
}
