.Feed {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
}

.Feed img {
  width: 50%;
  object-fit: cover;
  cursor: pointer;
}

@media (min-width:824px){
  .Feed{
    width: 50%;
  }
}

@media (max-width:823px){
  .Feed{
    width: 100%;
  }
}