.ThumbnailList {
  display: flex;
  padding-top: 10px;
  align-items: center;
  color: #fff;
  font-weight: 800;
  padding: 0 0 15px 0;
}

.ThumbnailList img {
  width: 35px;
  object-fit: cover;
  margin-right: 20px;
}
.ThumbnailList a {
  text-decoration: none;
}
