.Stories {
  box-sizing: border-box;
  padding: 0 9%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
}

.Stories > * {
  padding: 0 0 50px 0;
}

@media (min-width:824px){
  .Stories{
    width: 50%;
  }
}

@media (max-width:823px){
  .Stories{
    width: 100%;
  }
}