.Partner {
  display: flex;
  width: 90%;
  justify-content: center;
  align-items: flex-start;
  flex-wrap: wrap;
  flex-direction: row;
}

.Partner img {
  align-self: center;
  justify-self: center;
  width: 150px;
  max-height: 100px;
  vertical-align: middle;
  padding: 30px;
}
