.ShowMore a {
  padding-bottom: 5px;
  border-bottom: 5px solid;
  background-color: transparent;
  font-weight: 800;
  letter-spacing: 2px;
  text-decoration: none;
}

@media (max-width: 823px) {
  .ShowMore {
    margin-bottom: 20px;
  }
}
