.WaveUp {
  transform: rotate(180deg);
}

.Top {
  position: absolute;
  /* top: 0%; */
  bottom: auto;
}
img.Top{
  margin-top:-1px;
}
img.Bottom{
  margin-top:4x;
}
.Bottom {
  position: absolute;
  align-self: flex-end;
}

.Label {
  position: absolute;
  height: auto;
  font-weight: bold;
}
@media (min-width:824px){
  .Top,img.Bottom{
    height: 80px;
  }
}

@media (max-width:823px){
}

