.WaveUp {
  transform: rotate(180deg);
}

.Top {
  position: absolute;
  /* top: 0%; */
  bottom: auto;
  height: 80px;
}
.Bottom {
  position: absolute;
  align-self: flex-end;
  height: 80px;
}

.Label {
  position: absolute;
  height: auto;
  font-weight: bold;
}
