.CurveDown {
  transform: rotate(180deg);
}
.CurveUp {
}

.Top {
  position: absolute;
  margin-top: -1px;
}
.Bottom {
  position: absolute;
  align-self: flex-end;
  margin-bottom: -1px;
}
@media (min-width:824px){
  .Top,.Bottom{
    height: 80px;
  }
}

@media (max-width:823px){
  .Top,.Bottom{
    display: none;
  }
}